@import "_normalize";
@import "_variables";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap&subset=latin-ext");

html {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    color: $ebony;
    background: $violet;
    -webkit-font-smoothing: antialiased;
}

.button-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 56px;
    @media (max-width: $mobile) {
      justify-content: center;
    }
}

.button {
    width: 160px;
    height: 48px;
    background-color: #121232;
    border-radius: 6px;
    color: #ffffff;
    letter-spacing: 0.5px;
    &--first {
        margin-right: 32px;
    }
}

.editor {
    background-color: #f8f8f8;
    width: 640px;
    height: 440px;
    border-radius: 16px;
    display: grid;
    grid-template-rows: auto;
    grid-template-areas:
        "header description"
        "form description";
    @media (max-width: $mobile) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__description {
        grid-area: description;
        writing-mode: vertical-rl;
        margin: 34px 16px 30px 55px;
        font-size: 14px;
        line-height: 24px;
        @media (max-width: $mobile) {
          writing-mode: unset;
        }
    }
    &__form {
        grid-area: form;
        display: block;
        margin-left: 96px;
        margin-top: 22px;
        @media (max-width: $mobile) {
          display: block;
          margin: 100px 0 0 0;
          width: 90%;
        }
    }
}

.form-field {
    display: block;
    &--last {
        margin-top: 22px;
    }
    &__input {
        width: 448px;
        height: 48px;
        border: 1px solid #a1a4b1;
        box-sizing: border-box;
        border-radius: 4px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        @media (max-width: $mobile) {
          width: 100%;
        }
        &::placeholder {
            padding-left: 18px;
            font-size: 14px;
            line-height: 24px;
            color: #8b90a0;
        }
    }
    &__label {
        font-size: 14px;
        font-weight: 600;
        display: block;
        margin-bottom: -9px;
    }
}

.header {
    height: 0px;

    &__title {
        all: unset;
        display: block;
        grid-area: header;
        margin: 22px 0 55px 38px;
        font-size: 44px;
        line-height: 64px;
        font-weight: 600;
        @media (max-width: $mobile) {
          margin: 50px 0 0 0;
        }
    }
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}
