@import "_normalize";
@import "_variables";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap&subset=latin-ext");

@keyframes shake {
    0% {
        transform: scale(1)
    }

    25% {
        transform: scale(1.02)
    }
    50% {
        transform: scale(0.9)
    }
    75% {
        transform: scale(0.95)
    }
    100% {
        transform: scale(1)
    }
}

html {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    color: $ebony;
    background: $violet;
    -webkit-font-smoothing: antialiased;
}

.button-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 56px;
    @media (max-width: $mobile) {
        justify-content: center;
    }
}

.button {
    width: 160px;
    height: 48px;
    background-color: #121232;
    border-radius: 6px;
    color: #ffffff;
    letter-spacing: 0.5px;
    &--load {
        margin-right: 32px;
    }
    &--clear {
        margin-top: 44px; 
    }
    &--clear-shake {
        animation: shake 0.2s ease-in-out; 
    }
}

.editor {
    background-color: #f8f8f8;
    width: 640px;
    height: 440px;
    border-radius: 16px;
    display: grid;
    backface-visibility: hidden;
    grid-template-rows: auto;
    grid-template-areas:
        "header description"
        "form description";
    @media (max-width: $mobile) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    &__description {
        grid-area: description;
        writing-mode: vertical-rl;
        margin: 34px 16px 30px 55px;
        font-size: 14px;
        line-height: 24px;
        @media (max-width: $mobile) {
            writing-mode: unset;
            display: block;
            margin-left: 0;
            margin-right: 0;
            font-size: 12px;
        }
    }
    &__form {
        grid-area: form;
        display: block;
        margin-left: 96px;
        margin-top: 22px;
        @media (max-width: $mobile) {
            display: block;
            margin: 100px 0 0 0;
            width: 90%;
        }
    }
}

.form-field {
    display: block;
    &--last {
        margin-top: 22px;
    }
    &__input {
        width: 448px;
        height: 48px;
        border: 1px solid #a1a4b1;
        box-sizing: border-box;
        border-radius: 4px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        transition: transform 1s ease-in-out;
        @media (max-width: $mobile) {
            width: 100%;
        }
        &::placeholder {
            padding-left: 18px;
            font-size: 14px;
            line-height: 24px;
            color: #8b90a0;
        }&:focus {
            transform: scale(1.06);
        }
    }
    &__label {
        font-size: 14px;
        font-weight: 600;
        display: block;
        margin-bottom: -9px;
    }
}

.header {
    height: 0px;

    &__title {
        all: unset;
        display: block;
        grid-area: header;
        margin: 22px 0 55px 38px;
        font-size: 44px;
        line-height: 64px;
        font-weight: 600;
        @media (max-width: $mobile) {
            font-size: 36px;
            margin: 50px 0 0 0;
        }
    }
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
    &--visible {
        transform: rotateY(180deg);
    }
}

.backside {
    max-width: 640px;
    height: 440px;
    width: 100%;
    border-radius: 16px;
    background-color: #f8f8f8;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: rotateY(180deg);
    @media (max-width: $mobile) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    &__exit {
        all: unset;
        position: absolute;
        top: 14px;
        right: 20px;
        font-size: 24px;
        cursor: pointer;
        &:hover{
            text-decoration: underline;
        }
    }
    &__title {
        font-size: 36px;
        text-align: center;
        line-height: 64px;
        margin-top: 70px;
    }
}

.table {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0;
    max-width: 450px;
    width: 100%;
    word-break: break-all;
    overflow: scroll;
    &__body {
        border: 1px solid black;
        margin: 0;
        padding: 0;
    }
    &__td {
        border: 1px solid black;
        margin: 0;
        padding: 0;
        min-width: 225px;
        width: 100%;
    }
    &__th {
        border: 1px solid black;
        background: #c4c4c4;
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
    }
    &__tr {
        margin: 0;
        padding: 0;
        height: 48px;
        text-align: center;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        max-width: 225px;
    }
}

.table-wrapper {
    overflow: auto;
}